.main-header{
 margin: 2rem;
 font-size: 1.2rem;
}

.main-header nav, .blog-header nav{
    display: flex;
    justify-content: space-around;
}

.nav-link{
    color: rgb(255, 210, 180);
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus{
    cursor: pointer;
    font-weight: bold;
    color: #f9934e;
}